<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ contact.name }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="callContact()">
        <ion-icon name="call"></ion-icon>
      </button>
      <button ion-button icon-only (click)="mailContact()">
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Detalhes do Contato
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col>
          Email
        </ion-col>
        <ion-col>
          {{ contact.email }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Telefone
        </ion-col>
        <ion-col>
          {{ contact.number }}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <button ion-button full (click)="callContact()">
    Ligar
  </button>
  <button ion-button full (click)="mailContact()">
    Enviar Email
  </button>

</ion-content>
