<ion-header>
  <ion-navbar>
    <ion-title>
      Contatos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar (ionInput)="filterContacts($event)">
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding #slidingitem *ngFor="let contact of contacts, let i = index">

      <ion-item (click)="onContactClick(contact)">
        <ion-avatar item-start>

        </ion-avatar>
        <h2>{{ contact.name }}</h2>
        <p>
          {{ contact.number }}
        </p>
      </ion-item>


      <ion-item-options side="right">
        <button ion-button (click) = "addToFavorite(contact,slidingitem)" >
          <ion-icon name="star"></ion-icon>
          Favorite
        </button>
        <button ion-button color="danger" (click)="deleteContact(i)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>
